<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videogames collection</title>
    <link rel="icon" href="KEPIDE.ico" type="image/x-icon" </head>

<body>
    <header>
        <h1>Videogames collection</h1>
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Main page</a></li>
            <li><a href="items.html">Categories</a></li>
            <li><a href="favourites.html">Favourites</a></li>
        </ul>
    </nav>

    <main>
        <section id="catalog">
            <h2>Full collection</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Categories</th>
                        <th>Description</th>
                        <th>Rating</th>
                        <th>Difficulty</th>
                        <th>Favourites</th>
                    </tr>
                </thead>
                <tbody>
                    {{TABLE_ROWS}}
                </tbody>
            </table>
        </section>

        <footer>
            <p>Made by: Balla David, Kuszko Zsombor</p>
        </footer>
    </main>

</body>

</html>